//在此修改颜色
$color:#45ce3c;
.color_green{
  color: $color;
}
.boldTextStyle_green {
  font-weight: bold;
  font-size: 60rpx;
  color: $color;
  z-index: 1;
}

.leftText_green {
  color: $color;
  font-size: 44rpx;
  margin-left: 20rpx;
}

.rightButton_green {
  border-radius: 50%;
  background-color: $color;
  width: 110rpx;
  height: 110rpx;
  box-shadow: -2px 4px 6px #359e2e;
}
.articleCategory_green{
  padding: 8rpx 0;
  border-radius: 30rpx;
  font-size: 26rpx;
  background-color: $color;
  transition:all 0.3s ease-in-out; 
  transform: scale(0.7);
  opacity: 0.6;
}
.articleCategory_actived_green{
  padding: 4rpx 0;
  font-size: 30rpx;
  background-color: white;
  border: 2px solid $color;
  color: #6b6b6b;
  margin-right: 30rpx;
  transform: scale(1);
  opacity: 1;
}

